html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: flex-end;  
  height: 100%;
  padding: 30px 20px; 
  box-sizing: border-box;
}
.text_area{
  margin-top: auto;
}
.text_area .main_text {
    font-size: 60px;      
    color: #0217c2;       
    font-weight: bold;    
    margin-bottom: 10px;   
    text-align: center;
}

.text_area .sub_text {
    font-size: 35px;       
    color: #0217c2;        
    font-weight: normal;
    text-align: center;
}

.btn_big2 {
  margin-top: auto;
}