html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: flex-end;  
  height: 100%;
  padding: 30px 20px; 
  box-sizing: border-box;
}


.r {
    font-size: 30px;      
    color: #0217c2;       
    font-weight: bold;    
    margin-bottom: 10px;   
    text-align: center;
}

.e {
    font-size: 20px;       
    color: #0217c2;        
    font-weight: normal;
    text-align: center;
}
.score{
  font-size: 15px;       
    color: #434d96;        
    font-weight: normal;
    text-align: center;
}

.btn_big2 {
  margin-top: auto;
}
h1{
  font-size: 30px;       
    color: #0217c2;        
    font-weight: normal;
    text-align: center;

}