.question-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #000;
}


.question-text {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    margin-right:20px;
}


.choice-group {
    display: flex;
    gap: 10px; 
}
.choice-group input[type="radio"] {
    display: none;
}

.choice-group label {
    font-size: 16px;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #5d69b880; 
    color: #fff;
    transition: 0.2s;
}

.choice-group input[type="radio"]:checked + label {
    background-color: #0217c2; 
    color: #fff;
}

#quiz-form {
    display: flex;
    flex-direction: column;
}

.submit_area {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}