/* 타이틀 전체 */
.page_header {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background-color: #0217c2; 
    color: #fff;
    position: relative;
}

/* 뒤로가기 버튼 */
.back_btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position:absolute;
    left:20px;
}

/* 타이틀 */
.title {
    flex-grow: 1;
    text-align: center;
}

/* 메인 타이틀 */
.main_title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
